#background{
    fill: green;
}
#controls{
    font-size: 14pt;
    text-align: center;
    width: 500px;
}
#message{
    text-anchor: middle;
    font-family: Arial, sans-serif;
    font-size: 18pt;
    fill: red;
}
#point{
    fill: white;
    font-family: Arial, sans-serif;
    font-size: 24pt;
    text-anchor: middle;
}
#puck{
    fill: black;
    stroke: white;
}
#winnings{
    font-weight: bold;
}
.die {
    fill:#ffffff;
    stroke-width: 3;
    stroke: #000000;
}

.pip {
    stroke: #000000;
    fill: #000000;
    visibility: hidden;
}
.spacer{
    margin: 30px;
}
body{
    font-family: Arial, sans-serif
}
input, button{
    font-size: 14pt;
}