nav{
    text-align: center;
}
a{
    text-decoration: none;
    background-color: tan;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    color: #F1F0FF;
}
a:hover{
    color: white;
}

input{
    display: block;
}
p, input, h1, h2, div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1, h2{
    background-color: tan;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    color: #F1F0FF;
}
html{
    background-color:blanchedalmond;   
}
h1{
    width: 95%;
    height: 50px;
}
h2{
    width: 300px;
    height: 50px;
}
