#background{
    fill:chocolate;
}
.squareEven{
    fill:blanchedalmond;
}
.squareOdd{
    fill:tan;
}
.redCheckers{
    stroke-width: 2px;
    stroke: rgb(255, 0, 0);
    stroke-dasharray: 4 1;
    visibility: visible;
}
.blackCheckers{
    stroke-width: 2px;
    stroke: black;
    stroke-dasharray: 4 1;
    visibility: visible;
}